.data
.direnv
result

# Context-specific configuration
/site-config.el

# Tangled files
/init.el
/lisp/

# XXX: Currently there is no way to change this default (though it can be
# specified manually when calling `treesit-install-language-grammar'
# interactively)
/tree-sitter/
