.cache
.data
.direnv
result

# Context-specific configuration
/site-config.el

# XXX: Currently there is no way to change this default (though it can be
# specified manually when calling `treesit-install-language-grammar'
# interactively)
/tree-sitter/
/data/17/

# These should not live in this directory anyway, but sometimes they get
# re-created if there is an init file error.
eln-cache
history
places
projects
recentf
transient
